{% extends "base.html" %}
{% block content %}
    <br>
    <div class="w-50 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Payment Info</h4>
            </div>
            <br>
            <form class="needs-validation" novalidate>
                <div class="row" style="padding: 20px;">
                      <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                          Name on card is required
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                        <div class="invalid-feedback">
                          Credit card number is required
                        </div>
                      </div>
                    </div>
                    <div class="row" style="padding-left: 20px;">
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="mm/yy" required="">
                        <div class="invalid-feedback">
                          Expiration date required
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                        <div class="invalid-feedback">
                          Security code required
                        </div>
                      </div>
                    </div>
                <a href="{% url "payment-method" %}" class="btn btn-primary" style="margin: 20px;">Back</a>
                <a href="{% url "payment-review" %}" class="btn btn-primary float-right" style="margin: 20px;">Continue</a>
            </form>

        </div>

    </div>
{% endblock %}