
@keyframes line-under {
    0% {
        background-size: 0px 3px;
    }
    100% {
        background-size: 100% 3px;
    }
}

.product a {
    color: black !important;
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.products .product {
    border-radius: 0;
    margin: 0px;
    background-image: none;
    background-color: white;
    text-align: center;
}

.product-img {
    width: 200px;
    max-height: 200px;
    transition: transform 1s ease-in;
}

.product-details-img {
    max-height: 300px;
    transition: transform 1s ease-in;
}

.block {
    display: block;
}

.payment-img {
    max-height: 50px;
}

.margin-10 {
    margin: 10px !important;
}

.margin-r-20 {
    margin-right: 20px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-l-20 {
    padding-left: 20px !important;
}

.pay-btn-margin {
    margin-top: -10px !important;
    margin-left: 10px !important;
}

.required-text {
    color: red;
}