* {
    box-sizing: border-box;
    font-family: "Reboto";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: bold;
}

a {
    color: #F6E8EA !important;
}

a:hover {
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: bottom;
    animation: line-under .5s 1 both;
}

@keyframes line-under {
    0% {
        background-size: 0px 3px;
    }
    100% {
        background-size: 100% 3px;
    }
}

.product a {
    color: black !important;
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.products .product {
    border-radius: 0;
    margin: 0;
    background-image: none;
    background-color: 'white';
    text-align: center;
}

.product-img {
    width: 200px;
}

.block {
    display: block;
}