.profile-img {

    max-width: 100px;
    max-height: 80px;
    margin: 30px;
}

.div-fp-img {
    display: flex;
    flex-direction: row;
    display: inline-block;
    padding-left: 150px;

}

.fp-n64-img {
    flex: 1;
    max-width: 200px;
    max-height: 150px;
}

.fp-ps-img {
    flex: 1;
    max-width: 120px;
    max-height: 100px;
    margin-top: 30px;
}

.fp-xbox-img {
    flex: 1;
    max-width: 100px;
    max-height: 80px;
    margin-top: 40px;
    margin-left: 40px;
}

.fp-sega-img {
    flex: 1;
    max-width: 200px;
    max-height: 70px;
    margin-top: 40px;
    margin-left: 40px;
}

@keyframes line-under {
    0% {
        background-size: 0px 3px;
    }
    100% {
        background-size: 100% 3px;
    }
}

.product a {
    color: black !important;
    text-decoration: none;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.products .product {
    border-radius: 0;
    margin: 0px;
    background-image: none;
    background-color: white;
    text-align: center;
}

.product-img {
    width: 200px;
    max-height: 200px;
    transition: transform 1s ease-in;
}

.product-details-img {
    max-height: 300px;
    transition: transform 1s ease-in;
}

.block {
    display: block;
}

.payment-img {
    max-height: 50px;
}

.margin-10 {
    margin: 10px !important;
}

.margin-r-20 {
    margin-right: 20px !important;
}

.padding-20 {
    padding: 20px !important;
}

.padding-l-20 {
    padding-left: 20px !important;
}

.pay-btn-margin {
    margin-top: -10px !important;
    margin-left: 10px !important;
}

.required-text {
    color: red;
}

.small-profile-image {
    max-width: 10px !important;
    max-height: 10px !important;
}