{% extends 'base.html' %}
{% block content %}
    <h1>ABOUT US</h1>
    <div>
        <H3>Welcome to CaptainConsole store. </H3>
        <h5>We are the biggest and most popular retro gaming shop based in Reykjavik Iceland.</h5>
        <h3>What we do.</h3>
            <h5>We started this idea at first just to try to keep alive all the great consoles and games our generation was raised with
            and we were not alone in thinking that the city needed a store like this. Since the begining we had a high interest and support from our customers.
            We are a dedicated team trying to offer the best service at the best prices and very competitive with the market.
            We continuously update the store with new products ensuring the best quality for our customers.
            </H5>
    </div>
{% endblock %}

