{% extends "base.html" %}
{% block content %}
      <h1>PRIVACY POLICY</h1>
      <h6>CaptainConsole is committed to safeguarding the privacy of our website visitors;
          this policy sets out how we will treat your personal information.</h6>

      <h6>1.Credit</h6>
        <h6>We created this privacy policy using an SEQ Legal precedent from Website Law.
            The legal documents supplied by SEQ Legal include consulting agreement precedents.</h6>

      <h6>2. What information do we collect?</h6>
        <h6>We may collect, store and use the following kinds of personal information:</h6>
        <h6>(a) Information about your computer and about your visits to and use of this website (including your IP address,
            geographical location, browser type and version, operating system, referral source, length of visit, page views,
            website navigation and purchases made).</h6>
        <h6>(b) Information relating to any transactions carried out between you and us on or in relation to this website, including
            information relating to any purchases you make of our goods or services.</h6>
        <h6>(c) Information that you provide to us for the purpose of registering with us (including name, address, telephone number
            and email address(s)).</h6>
        <h6>(d) any other information that you choose to send to us.</h6>

      <h6>3.Cookies</h6>
        <h6>A cookie consists of information sent by a web server to a web browser, and stored by the browser.
            The information is then sent back to the server each time the browser requests a page from the server.
            This enables the web server to identify and track the web browser.
            We may use both “session” cookies and also “persistent” cookies on our website. We may use the session cookies to:
            keep track of you whilst you navigate the website; and your purchasing history. We may use the persistent cookies
            to (for example): enable our website to recognise you when you visit;
            Session cookies will be deleted from your computer when you close your browser. Persistent cookies will remain stored
            on your computer until deleted, or until they reach a specified expiry date.
            We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and other information
            about website use by means of cookies, which are stored on users computers.
            The information generated relating to our website is used to create reports about the use of the website.
            Google will store this information.
            Most browsers allow you to reject all cookies, whilst some browsers allow you to reject just third party cookies.
            For example, in Internet Explorer you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”,
            and selecting “Block all cookies” using the sliding selector. Blocking all cookies will, however, have a negative impact
            upon the usability of many websites, including www.CaptainConsole.is</h6>

     <h6>4.Using your personal information</h6>
        <h6>Personal information submitted to us via this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.
            We may use your personal information to:</h6>
        <h6>(a) Administrate the website;</h6>
        <h6>(b) Improve your browsing experience by personalizing the website;</h6>
        <h6>(c) Enable your use of the services available on the website;</h6>
        <h6>(d) Send to you goods purchased via the website, and supply to you services purchased via the website;</h6>
        <h6>(e) Send statements and invoices to you, and collect payments from you;</h6>
        <h6>(f) Send you general (non-marketing) commercial communications;</h6>
        <h6>(g) Send you email notifications which you have specifically requested;</h6>
        <h6>(h) Send to you our newsletters and other marketing communications relating to our business or the businesses of carefully
            -selected third parties which we think may be of interest to you by post or, where you have specifically agreed to this, by email.<h6>
        <h6>(i) Provide third parties with statistical information about our users – but this information will not be used to identify
            any individual user;</h6>
        <h6>(j) Deal with enquiries and complaints made by or about you relating to the website.</h6>

    <h6>5.Disclosures</h6>
        <h6>We may disclose information about you to any of our employees, suppliers or subcontractors insofar as reasonably necessary for the purposes as set out in this privacy policy.
            In addition, we may disclose your personal information:</h6>
        <h6>(a) To the extent that we are required to do so by law;</h6>
        <h6>(b) In connection with any legal proceedings or prospective legal proceedings;</h6>
        <h6>(c) In order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud
            prevention and reducing credit risk);</h6>
        <h6>(d) To the purchaser (or prospective purchaser) of any business or asset which we are (or are contemplating)
            selling or purchasing.</h6>
        <h6>(e) To any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal
            information where, in our reasonable opinion, such court or authority would be reasonably likely to order disclosure
            of that personal information.</h6>
        <h6>Except as provided in this privacy policy, we will not provide your information to third parties.</h6>

    <h6>6.Security of your personal information</h6>
        <h6>We will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information.
            We will store all the personal information you provide on our secure (password- and firewall- protected) servers.
            All electronic transactions you make to or receive from us will be encrypted using SSL technology.
            Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.
            You are responsible for keeping your password and user details confidential. We will not ask you for your password (except when you log in to the website).
            We are committed to ensuring that your information is secure. In order to prevent unauthorized access or disclosure,
            we have put in place suitable physical, electronic and managerial procedures to safeguard and secure the information
            we collect electronically. Our data security is managed by way of anti-virus protection and security programs,
            encrypted servers and protection from destruction or alteration and protection against unauthorized access.</h6>

    <h6>7.Policy amendments</h6>
        <h6>We may update this privacy policy from time-to-time by posting a new version on our website. You should check this page
            occasionally to ensure you are happy with any changes. We may also notify you of changes to our privacy policy by email.</h6>

    <h6>8.Your Rights</h6>
        <h6>You may instruct us to provide you with any personal information we hold about you. Provision of such information will be subject to:
            The supply of appropriate evidence of your identity [(for this purpose, we will usually accept a photocopy of your passport certified by a solicitor.)].
            We may withhold such personal information to the extent permitted by law.
            You may instruct us not to process your personal information for marketing purposes by email at any time.
            In practice, you will usually either expressly agree in advance to our use of your personal information for marketing purposes,
            or we will provide you with an opportunity to opt-out of the use of your personal information for marketing purposes.</h6>

    <h6>9.Updating Information</h6>
        <h6>Please let us know if the personal information which we hold about you needs to be corrected or updated.<h6>

    <h6>10.Contact</h6>
        <h6>If you have any questions about this privacy policy or our treatment of your personal information,
            please write to us by email to Support: support@captainconsole.is</h6>


{% endblock %}