{% extends "base.html" %}
{% block content %}
    <h1>Terms & Conditions</h1>
    <h6>These Terms and Conditions set out the terms of use under which you may use this website, www.CaptainConsole.is.
        Please read these Terms of Use carefully and ensure that you understand them.
        Your agreement to comply with and be bound by these Terms of Use is deemed to occur upon your first use of Our Site.
        If you do not agree to these Terms, please do not access nor use the Website. If you have any queries regarding these
        Terms then please contact us.</h6>

    <h6>1. AGREEMENT</h6>
    <h6>By using the Website you agree to be bound by these Terms.</h6>

    <h6>2. AMENDMENTS</h6>
            <h6>We reserve the right to:</h6>
        <h6>update these Terms from time to time and any changes will be notified to you via a suitable announcement on the Website.
            It is your responsibility to check for such changes. The changes will apply to the use of the Website after we have given
            such announcement. If you do not wish to accept the new Terms you should not continue to use the Website. If you continue
            to use the Website after the date on which the change comes into effect, your use of the Website indicates your agreement
            to be bound by the new Terms; and
            modify or withdraw, temporarily or permanently, this Website and the material contained within (or any part) without
            notice to you and you confirm that we shall not be liable to you for any modification to or withdrawal of the Website or
            its contents.</h6>


    <h6>3. REGISTRATION</h6>
    <h6>You warrant that:

    the personal information which you are required to provide when you register is true, accurate, current and complete in all respects;
        and you are not impersonating any other person or entity The products purchased on this site are for private and domestic use
        only and are not for re sale. You will notify us immediately of any changes to the personal information by e-mailing our customer
        Support: support@captainconsole.is</h6>


    <h6>4. PRIVACY POLICY</h6>
        <h6>We will treat all your personal information as confidential and will only use it in accordance with our Privacy Policy.</h6>

    <h6>When you shop on this Website, we will ask you to input personal details in order for us to identify you, such as your name,
        e-mail address, billing address, delivery address, credit card or other payment information. We confirm that this information
        will be held by us in accordance with the registration we have with the Data Commissioner’s office.</h6>

        <h6>5. PROTECTING YOUR SECURITY</h6>
    <h6>To ensure that your credit, debit or charge card is not being used without your consent, we will validate name, address and other
        personal information supplied by you during the order process against appropriate third party databases.</h6>

    <h6>By accepting these terms and conditions you consent to such checks being made. In performing these checks personal information
        provided by you may be disclosed to a registered Credit Reference Agency which may keep a record of that information. You can
        rest assured that this is done only to confirm your identity, that a credit check is not performed and that your credit rating
        will be unaffected. All information provided by you will be treated securely and strictly in accordance with the Data Protection
        Policy.</h6>

        <h6>6. COMPLIANCE</h6>
    <h6>The Website may only be used for lawful purposes and in a lawful manner. You agree to comply with all applicable laws, statutes
        and regulations regarding the Website and its use. You agree not to upload or transmit through the Website:

    any computer viruses or anything else designed to interfere with, interrupt or disrupt the normal operating procedures of a computer; and
        any material which is defamatory, offensive or of an obscene character</h6>


    <h6>7. INDEMNITY</h6>
    <h6>You agree to fully indemnify, defend and hold us, and our officers, directors, employees and suppliers, harmless immediately on
        demand, from and against all claims, losses, costs and expenses, including reasonable legal fees, arising out of any breach of
        these Terms by you, or any other liabilities arising out of your use of this Website or any other person accessing the Website
        using your personal information.</h6>

        <h6>8. THIRD PARTY LINKS</h6>
    <h6>As a convenience to our customers, the Website may include links to other websites or material which is beyond our control.
        For your information, we are not responsible for such websites or material nor do we review or endorse them. We will not be
        liable, whether directly or indirectly, for the privacy practices or content of such websites nor for any damage, loss or
        offence caused or alleged to be caused in connection with, the use of or reliance on any such advertising, content, products,
        materials or services available on such external websites or resources.</h6>

        <h6>9. ORDERS</h6>
    <h6>All orders are subject to acceptance and availability. If the goods ordered are not available, you will be notified by e-mail
        (or by other means if no e-mail address has been provided) and you will have the option either to wait until the item is
        available from stock or to cancel your order.</h6>

    <h6>Any orders placed by you will be treated as an offer to purchase the goods or services from us and we have the right to reject
        such offers at any time. You acknowledge that any automated acknowledgment of your order which you may receive from us shall
        not amount to our acceptance of your offer to purchase goods or services advertised on the Website. The conclusion of a contract
        between you and us will take place when we debit your credit card or dispatch the goods to you or commence the services,
        whichever is the later.</h6>

    <h6>We will take all reasonable care, in so far as it is in our power to do so, to keep the details of your order and payment
        secure, but in the absence of negligence on our part we cannot be liable for any loss you may suffer if a third party procures
        unauthorised access to any data provided by you when accessing or ordering from the Website.</h6>

    <h6>The products sold on the Website are not for re-sale or distribution. We reserve the right to cancel orders and/or suspend
        accounts where we believe products are being ordered in breach of this provision.</h6>

    <h6>You will assume the risk for the products once they have been delivered to the delivery address which you specified when
        ordering the products. We accept no liability where you provide an incorrect delivery address or where you fail to collect
        the products from the delivery address which you specified.</h6>

        <h6>10. CANCELLATION RIGHTS</h6>
    <h6>Where you have purchased the goods or services as a consumer please note that you are entitled to cancel any contract completed
        with us within 20 days from the day on which you acquire physical possession of the goods.</h6>

        <h6>11. PRICE AND PAYMENT</h6>
    <h6>All prices shown are inclusive of VAT (where applicable) and are correct at the time they are entered on to the system.
        We reserve the right, however, to change prices at any time without notice to you.</h6>

    <h6>Orders with a delivery address outside Iceland may be subject to import duties and taxes (including VAT) which are levied once
        a delivery reaches your destination country. Any such additional charges must be borne by you. You should note that customs
        policies and practices vary widely from country to country. We recommend that you contact your local customs office for
        information.</h6>

    <h6>Please note that when shipping goods from outside of Iceland, cross border shipments may be subject to opening and inspection by
        customs authorities. In respect of all goods dispatched to you to an address outside of Iceland, you are deemed to be the
        importer of the goods and must therefore comply with all the laws and regulations of the country into which the goods are being
        delivered.</h6>

    <h6>Payment can be made by any major credit card  account. Payment will be debited and cleared from your account before the dispatch
        of your good or provision of the service to you.</h6>

    <h6>We always try and ensure that the prices of goods shown on our Website are accurate, but occasionally genuine errors may occur.
        If we discover an error in the price of the goods that you have ordered we will let you know as soon as possible and give you
        the option of reconfirming your order at the correct price or cancelling it. If you cancel your order and you have already paid
        for the goods, then you will receive a full refund.</h6>

    <h6>You confirm that the credit card account that is being used is yours. All credit cardholders are subject to validation checks
        and authorisation by the card issuer. If the issuer of your payment card refuses to or does not, for any reason, authorise
        payment to us we will not be liable to you for any delay or non-delivery.</h6>

    <h6>You may only use one discount code with each order. We reserve the right to reject or cancel any orders where you add more than
        one discount code to the basket.</h6>

    <h6>We allow you to use discount codes strictly on the terms and conditions upon which they were issued which, amongst other things,
        may include terms relating to your eligibility to use them and a maximum order value. Discount codes that are valid across the
        entire site exclude pre-orders products, electronics, any products that are valid in multi-buy offers, or items that are
        included in any full sale and/or clearance.</h6>

    <h6>Please familiarise yourself with these terms and conditions before you place an order as we reserve the right to reject or
        cancel any orders which do not comply with these terms even if your credit card has been charged. If there is any inconsistency
        between the terms and conditions upon which the discount codes were issued and these terms and conditions, the discount code
        terms and conditions prevail. A copy of the discount code terms and conditions can be obtained by mailing or telephoning our
        customer service representatives at:</h6>

        <h6>e-mail address: support@captainconsole.is</h6>
    <h6>Please note, CaptainConsole online Shop operates a loyalty scheme in respect of products purchased through our Shop.</h6>

{% endblock %}