<footer class="page-footer font-small indigo navbar-dark bg-dark">
  <div class="container">
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'homepage-aboutus' %}" style="color: white;">About us</a>
        </h6>
      </div>
      <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'homepage-terms' %}" style="color: white;">Terms & Conditions</a>
          </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h5 style="color: white;">Captain<b>Console</b></h5>
      </div>
      <div class="col-md-2 mb-3">
          <h6 class="text-uppercase font-weight-bold">
            <a href="{% url 'homepage-privacypolicy' %}" style="color: white;">Privacy Policy</a>
          </h6>
      </div>
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="{% url 'homepage-contactus' %}" style="color: white;">Contact</a>
        </h6>
      </div>
    </div>
    <hr class="rgba-white-light" style="margin: 0 15%; border-color: lightgray;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem; color: white;">The greatest, biggest and most recognized retro gaming shop out there!</p>
      </div>
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
  </div>
  <div class="footer-copyright text-center py-3" style="color: white;">
      © 2020 Captain Console
  </div>
</footer>