{% extends "base.html" %}
{% block content %}
        <br>
        <div class="mx-auto" style="width: 250px">
            <div class="card">
                <div class="card-header">
                    Log in
                </div>
                <br>
                <div class="col-sm-30">
                    <form method="post" class="form-group padding-l-20">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn-primary float-right" style="margin: 20px;" value="Login"/>
                    </form>
                </div>
                <div class="card-footer text-muted">
                     Need an account? <a class="ml-2" href="{% url 'register' %}">Sign up</a>
                </div>
            </div>
        </div>
       <br>
{% endblock %}

