{% extends "base.html" %}
{% block content %}
        <br>
        <div class="w-50 mx-auto">
            <div class="card">
                <div class="card-header">
                    Log in
                </div>
                <br>
                <div class="col-sm-20">
                    <form method="post" class="form-group margin-10">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" class="btn btn-primary margin-10 float-right" value="Login" />
                    </form>
                </div>
            </div>
        </div>
        <br>

{% endblock %}