{% extends 'base.html' %}
{% block content %}
    <br>
    <div class="w-50 mx-auto">
        <div class="card">
            <div class="card-header">
                Profile
            </div>
            <br>
            <div class="col-sm-20">
                <p class="margin-10"><b>Username: </b>{{ user.username }}</p>
                <br>
                <p class="margin-10"><b>First name: </b>{{ user.first_name }}</p>
                <p class="margin-10"><b>Last name: </b>{{ user.last_name }}</p>
                <p class="margin-10"><b>Profile image: </b></p>
                <img class="profile-img" src="{{ user.profile.profile_image }}"/>
            </div>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary float-right margin-10">Edit profile</a>
        </div>

        <br>
    </div>
    <br>
    <br>
{% endblock %}